<template>
    <div class="activity-index">
        <div class="box">
            <h1>Activities for {{activities[0]['activity']['user']['name']}}</h1>
        </div>
        <div v-for="(activity, index) in activities" :key="index" class="activity-box box">
            <ActivityIndexItem :activity="activity"></ActivityIndexItem>
        </div>

    </div>

</template>

<script>

    import ActivityIndexItem from '../partials/ActivityIndexItem'

    let activities = []

    export default {
        data() {
            return {
                activities
            }
        },
        components: {
            ActivityIndexItem
        },
        methods: {},
        created: function () {
            this.$store.dispatch('get_activity_index', {params: {userId: this.$route.params.id}}).then(activities => {
                this.activities = activities.data
            }, response => {
                this.$notify({
                    group: 'error',
                    title: 'Error',
                    duration: -1,
                    text: response.response.data.status + " " + response.response.data.error
                });
            })
        }
    }
</script>
