<template>
    <div class="home">
        <div class="feed">
            <div v-if="uid" v-for="(activity, index) in activities" :key="index" class="activity-box box">
                <ActivityIndexItem :activity="activity"></ActivityIndexItem>
            </div>

            <div v-if="activities.length === 0 && uid !== undefined" class="empty-text">
                No activities to display
            </div>

            <div v-if="!uid" class="box">
                <h1>Please <a href="/login">log in</a> or <a href="/signup">sign up</a></h1>
            </div>
        </div>
    </div>
</template>


<script>
    import ActivityIndexItem from './partials/ActivityIndexItem'

    let activities = []

    export default {
        data() {
            return {
                activities,
                uid: localStorage.getItem('uid')
            }
        },
        components: {
            ActivityIndexItem
        },
        methods: {},
        created: function () {
            if (this.uid) {
                this.$store.dispatch('get_feed').then(activities => {
                    this.activities = activities.data
                }, response => {
                    this.$notify({
                        group: 'error',
                        title: 'Error',
                        duration: -1,
                        text: response.response.data.status + " " + response.response.data.error
                    });
                })
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
