<template>
    <div>
        <a v-on:click.stop="toggle">
            Account
            <i class="fas fa-angle-down"></i>
        </a>
        
        <nav v-if="this.open">
            <a :href="profilePath">Profile</a>
            <a href="/profile">Settings</a>
            <a v-on:click="logout" href="#">Sign Out</a>
            <a href="/admin" v-if="this.$store.state.profile.profile.user.admin">Admin</a>
        </nav>
    </div>
</template>

<script>
    import { Vue } from 'vue-property-decorator'
    import axios from 'axios'
    export default Vue.extend({
        data: function () {
            return {
                open: false
            }
        },
        computed: {
            profilePath: function () {
                return "/user/" + this.$store.state.profile.profile.user.id
            }
        },
        methods: {
            toggle: function () {
                this.open = !this.open
                if (this.open) {
                    // Add click listener to whole page to close dropdown
                    document.addEventListener('click', this.close)
                }
            },
            close: function () {
                this.open = false;
                document.removeEventListener('click', this.close)
            },
            logout: function () {
                axios.delete('/api/' + 'auth/sign_out')
                    .then(function() {
                        localStorage.removeItem('access-token')
                        localStorage.removeItem('client')
                        localStorage.removeItem('uid')
                        window.location.replace("/")
                    }).catch(response => {
                        this.$notify({
                            group: 'error',
                            title: 'Error',
                            duration: -1,
                            text: response.response.data.status + " " + response.response.data.error
                        });
                    })
            }
        }
    })
</script>

<style lang='sass'>
    nav
        border: 1px solid #dbdbdb
        background-color: white
        a
            display: block
            color: black !important
</style>