<template>
    <div v-if="!loadingUser && !loadingActivities">
        <div class="box">
            <div class="box-header">
                <h1>(@{{user['user']['username']}}) </h1>
            </div>
            <p>{{user['user']['description']}}</p>
        </div>

        <div
            v-for="(activity, index) in activities"
            :key="index" class="activity-box box"
        >
            <ActivityIndexItem :activity="activity"></ActivityIndexItem>
        </div>

        <div v-if="activities.length === 0" class="empty-text">
            No activities to display
        </div>
    </div>
</template>

<script>
    import ActivityIndexItem from '../partials/ActivityIndexItem'

    let user
    let activities
    export default {
        data() {
            return {
                user,
                activities,
                loadingUser: true,
                loadingActivities: true
            }
        },

        components: {
            ActivityIndexItem
        },

        created: function () {
            this.$store.dispatch('show_user', {params: {userId: this.$route.params.id}}).then(user => {
                this.user = user.data
                this.loadingUser = false
            }, response => {
                this.$notify({
                    group: 'error',
                    title: 'Error',
                    duration: -1,
                    text: response.response.data.status + " " + response.response.data.error
                });
            })
            this.$store.dispatch('get_activity_index', {params: {userId: this.$route.params.id}}).then(activities => {
                this.activities = activities.data
                this.loadingActivities = false
            }, response => {
                this.$notify({
                    group: 'error',
                    title: 'Error',
                    duration: -1,
                    text: response.response.data.status + " " + response.response.data.error
                })
            })
        }
    }
</script>
