<template>
    <div class="box">
        <div class="box-header">
            <h1>Admin</h1>
        </div>
        <div>
            <p>Users: {{admin.stats.users}}</p>
            <p>Activities: {{admin.stats.activities}}</p>
            <p>Sections: {{admin.stats.sections}}</p>

        </div>
    </div>
</template>

<script>
    let admin = {}

    export default {
        data() {
            return {
                admin,
            }
        },
        created: function () {
            this.$store.dispatch('show_admin').then(admin => {
                this.admin = admin.data
            })
        }
    }
</script>
