<template>
    <div class="box">
        <div class="box-header">
            <h1>Application Settings</h1>
        </div>
        <div>
            <ApplicationSetting
                v-for="application_setting in application_settings"
                :setting="application_setting.application_setting"
                v-bind:key="application_setting.code"
            />
        </div>
    </div>
</template>

<script>
    import ApplicationSetting from './ApplicationSetting'
    let application_settings = {}

    export default {
        components: {
            ApplicationSetting
        },
        data() {
            return {
                application_settings,
            }
        },
        created: function () {
            this.$store.dispatch('admin_application_settings_index').then(application_settings => {
                this.application_settings = application_settings.data
            })
        }
    }
</script>
