html
    background-color: #ebebeb

body
    margin: 0

header
    width: 100%
    height: 50px
    background-color: $brand-primary
    display: flex
    z-index: 9999
    a
        color: #fff
        text-decoration: none
        font-family: Sans-Serif
        height: 50px
        margin: 0 10px
        line-height: 50px

h1
    margin-top: 0

table
    border-collapse: collapse
    width: 100%
    td, th
      border: 1px solid #ddd
      padding: 8px
    tr:nth-child(even)
        background-color: #f2f2f2
    th
        text-align: left
#app
    display: flex
    align-items: center
    flex-direction: column

.content
    max-width: 1000px
    width: 80%

.box-header
    background-color: #f5f5f5
    margin: -10px -10px 10px -10px
    border-bottom: 1px solid #dbdbdb
    display: flex
    padding: 10px
    h1
        font-size: 20px
        margin-bottom: 0
    a
        font-size: 20px
        color: #000
    span
        margin: 0 5px
.box
    background-color: #fff
    margin: 20px 0
    padding: 10px
    border: 1px solid #dbdbdb

.split
    display: flex
    div
        width: 50%

.login-form
    background-color: #fff
    width: 90%
    max-width: 500px
    padding: 20px 40px
    margin: 20px auto
    *
        margin: 5px 0
    label
        width: 20px

    input
        width: calc(100% - 16px) // Remove border width
    input[type=submit]
        width: 100%
        color: #fff
        background-color: $brand-primary
        border: none
        border-radius: 3px
        padding: 10px 0

.effort-table
    .gold
        color: #ffe800
    .silver
        color: #bdbdbd
    .bronze
        color: #995f09
    .new
        color: #02bbff

.notifications
    top: 70px !important

.empty-text
    margin-top: 60px
    font-size: 30px
    color: #626262
    width: 100%
    text-align: center

.vue-notification
    padding: 10px
    margin: 0 5px 5px
    font-size: 12px
    color: #ffffff
    background: #44A4FC
    border-left: 5px solid #187FE7

    &.warn
        background: #ffb648
        border-left-color: #f48a06

    &.error
        background: #E54D42
        border-left-color: #B82E24

    &.success
        background: #68CD86
        border-left-color: #42A85F
